:root {
  --pkbl-red: rgb(192, 57, 57);
  --bg-grey: rgb(199, 199, 199);
  --pkbl-white: rgb(248, 248, 248);
}

body {
  background-image: url("https://raw.githubusercontent.com/juamedi/SSW/main/fondoOscuro.jpg");
  height: 100vh;
  margin: 0px;
  padding: 0px;
  font-family: Helvetica;
}

.background-image {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header{
  background-color: var(--pkbl-red);
}

.header:hover {
  cursor: pointer;
}

.header img {
  display: block;
  height: 90%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
}

.bold {
  font-weight: bold;
}

.justify-content-between {
  justify-content: space-between;  
}

.justify-content-center {
  justify-content: center;  
}

.py {
  margin: 0.5em 0px;
}

.small {
  font-size: 80%;
}

.big {
  font-size: 120%;
}

.text-muted {
  color: #777;
}

.box-muted {
  background-color: #e1e1e1;
}

.flex {
  width: 100%;
}

input {
  width: 100%;
  margin-top: 8px;
  margin-bottom: 12px;
  box-sizing: border-box;
  height: calc(1.5em + .75rem + 2px);
  padding:.375rem 1rem;
  font-size:1rem;
  font-weight:400;
  line-height:1.5;
  color:#495057;
  background-color:#fff;
  background-clip:padding-box;
  border:1px solid #ced4da;
  border-radius:.25rem;
  transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.trade-input {
  width: auto;
  padding: 0;
  margin-left: 30px;
  box-sizing: border-box;
  height: calc(1.5em + .75rem + 2px);
  font-size:1rem;
  font-weight:400;
  line-height:1.5;
  color:#495057;
  background-color:#fff;
  background-clip:padding-box;
  border:1px solid #ced4da;
  border-radius:.25rem;
  transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.offer-input {
  width: 0px;
  padding: 0;
  margin: 0px 0px;
  box-sizing: border-box;
  height: calc(1.5em + .75rem + 2px);
  font-size:1rem;
  font-weight:400;
  line-height:1.5;
  color:#495057;
  background-color:#fff;
  background-clip:padding-box;
  border:1px solid #ced4da;
  border-radius:.25rem;
  transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.input-stats {
  margin: 2px auto;
}
.stat-help {
  margin: auto 40%;
}

#shiny {
  width: 20px;
}

a {
  text-decoration: none;
}

.hide-overflow {
    overflow: hidden;
}

.text-align-center {
    text-align: center;
}


.input-form:invalid {
  border: 1px solid red;
}

.input-form:valid {
  border: 1px solid #ced4da;
}

.cbx-shiny:disabled {
    background-color: blue;
}

.placed {
    color: red;
}

/*Panels-------------------------------------------------------*/

.panel {
  background-color: var(--bg-grey);
  width: 45%;
  margin-top: 60px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 10px;
  align-self: center;
}

.panel-fluid {
  background-color: var(--bg-grey);
  width: 80%;
  margin: 30px 0px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 10px;
  align-self: center;
}

.panel-fluid-double {
  background-color: var(--bg-grey);
  width: 80%;
  margin: 2%;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 10px;
  align-self: center;
}

.panel-fluid-profile {
  background-color: var(--bg-grey);
  margin: 0px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 10px;
  align-items: flex-start;
}

/*Forms------------------------------------------------------------------------*/

legend {
  text-align: center;
  font-weight: bold;
  display:block;
  width:100%;
  max-width:100%;
  padding:0;
  margin-bottom:.5rem;
  font-size:1.5rem;
  line-height:inherit;
  color:inherit;
  white-space:normal;
}

fieldset {
  display: block;
  margin-inline-end: auto;
  padding-block-start: 0.35em;
  padding-inline-start: 0.75em;
  padding-block-end: 0.75em;
  border-style: hidden;
}

fieldset > div{
  margin-top: 10px;
}

.form-group:last-child {
  display: flex;
  justify-content: space-between;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


/*Button----------------------------------------------------------------*/

.boton-search {
  padding: 0.3rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
  background-color: var(--pkbl-white);
  font-weight: bold;
  color:rgb(0, 0, 0);
  text-align:center;
  vertical-align:middle;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  border:2.5px solid;
  transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  display: inline-block;
}

.boton-search:hover {
  text-decoration: underline #000000;
  color: #000000;
  background-color: #bbb;
  transform: scale(1.02);
  cursor: pointer;
}

.boton-red {
  background-color: var(--pkbl-red);
  display:inline-block;
  font-weight: bold;
  color:rgb(255, 255, 255);
  text-align:center;
  vertical-align:middle;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  border:1px solid transparent;
  padding:.375rem 1rem;
  margin-top: 0px;
  font-size:1rem;
  line-height:1.5;
  border-radius:.25rem;
  transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.boton-red:hover {
text-decoration: underline #ffffff;
color: #ffffff;
transform: scale(1.02);
cursor: pointer;
}

.boton-white {
  background-color: var(--pkbl-white);
  display:inline-block;
  font-weight: bold;
  color:rgb(0, 0, 0);
  text-align:center;
  vertical-align:middle;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  border:2.5px solid;
  padding:.375rem 1rem;
  margin-top: 0px;
  margin-right: 5px;
  margin-left: 10px;
  font-size:1rem;
  line-height:1.5;
  border-radius:.25rem;
  transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.boton-white:hover {
  text-decoration: underline #000000;
  color: #000000;
  background-color: #bbb;
  transform: scale(1.02);
  cursor: pointer;
}

/*Img-------------------------------------------------------------*/

.img-logo {
  border-radius: 0.5rem;
  vertical-align: middle;
  margin-left: 7px;
  margin-right: 7px;
  height: 40px;
  width: 40px;
}

.img-icon {
  border-radius: 5rem;
  vertical-align: middle;
  margin-left: 7px;
  margin-right: 7px;
  height: 40px;
  width: 40px;
}

.img-create {
  width: 85%;
  height: 85%;
}

.img-profile {
  height: 300px;
  width: 300px;
  border-radius: 1rem;
  display: block;
  margin: 0px 0px 0px 30px;
}

.img-review {
  width: 85px;
  height: 85px;
  margin: 0 0 0 17px;
}

/*Textarea--------------------------------------------------------*/

textarea {
  resize: none;
}

/*Navbar----------------------------------------------------------*/

.navbar {
  background-color: var(--pkbl-white);
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
  color: black;
  line-height: inherit;
  white-space: nowrap;
}

.form-inline {
  display: -ms-flexbox;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

/*Dropdown----------------------------------------------------------*/

.dropbtn {
  background-color: var(--pkbl-white);
  color: black;
  padding:.375rem 1rem;
  font-size: 16px;
  border: none;
  font-weight: bold;
  border-radius:.25rem;
  transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.dropdown {
  position: relative;
  display: inline-block;
  flex-wrap: nowrap;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--pkbl-white);
  min-width: 155px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0;
  border-radius:.25rem;
}

.dropdown-divider{
  height:0;
  margin:.5rem 0;
  overflow:hidden;
  border-top:1px solid rgb(179, 179, 179)
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content .quit {
  color: var(--pkbl-red);
  font-weight: bold;
}

.dropdown-content a:hover {
  background-color: #bbb;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #bbb;
  color: rgb(0,0,0);
  text-decoration: underline;
  cursor: pointer;
}

/*Slider-------------------------------------------------------*/

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

.custom-range {
  width: 100%;
  height: 1.4rem;
  padding: 0;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: 0;
}

.custom-range:focus {
  outline: 0;
}

.custom-range::-moz-focus-outer {
  border: 0;
}

.custom-range::-webkit-slider-thumb {
  width: 1rem;
  height: 1rem;
  margin-top: -0.25rem;
  background-color: black;
  border: 0;
  border-radius: 1rem;
  -webkit-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
  appearance: none;
}

.custom-range::-webkit-slider-thumb:active {
  background-color: rgb(0, 0, 0);
}

.custom-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.5rem;
  color: transparent;
  cursor: pointer;
  background-color: #d3d3d3;
  border-color: transparent;
  border-radius: 1rem;
}

.custom-range::-moz-range-thumb {
  width: 1rem;
  height: 1rem;
  background-color: black;
  border: 0;
  border-radius: 1rem;
  -moz-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -moz-appearance: none;
  appearance: none;
}

.custom-range::-moz-range-thumb:active {
  background-color: rgb(0, 0, 0);
}

.custom-range::-moz-range-track {
  width: 100%;
  height: 0.5rem;
  color: transparent;
  cursor: pointer;
  background-color: #dee2e6;
  border-color: transparent;
  border-radius: 1rem;
}

.custom-range::-ms-thumb {
  width: 1rem;
  height: 1rem;
  margin-top: 0;
  margin-right: 0.2rem;
  margin-left: 0.2rem;
  background-color: black;
  border: 0;
  border-radius: 1rem;
  -ms-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  appearance: none;
}

.stat-help {
  margin: auto 40%;
}

/*Cards--------------------------------------------------*/

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: rgba(238, 238, 238, 0.377);
  transition: 0.3s;
  margin: 10px;
  }

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transform: scale(1.02)
}

.container {
  padding: 2px 16px;
}

.card-img {
  width: 100px;
  height: 100px;
}

.card-slider {
  overflow-y: scroll;
  overflow-x: hidden;
}

/*Tab---------------------------------------------------*/

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  display: none;
  width: 85%;
  padding: 6px 12px;
  margin: 0 auto;
  margin-top: 7px;
}



.input-star {
  border: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  opacity: 0;
}

.label-star {
  position: relative;
  float: right;
  color: rgb(22, 22, 22);
}

.label-star:before {
  margin: 5px;
  content: "\f005";
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  font-size: 1.5em;
  color: rgb(22, 22, 22);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.input-star:checked ~ .label-star:before {
  color: rgb(231, 158, 0);
}

